In [1]:
import pandas as pd
import sqlite3
from collections import defaultdict
import json

# read data into DataFrame from db

con = sqlite3.connect("db/olympic_data.db")

sql = f"""
    SELECT * FROM athlete_events
    """

athlete_data = pd.read_sql(sql, con)
athlete_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None

In [2]:
# making an average table for males and females
# uploading it to sqlite DB
# this section is BY TEAM
maleData = athlete_data[athlete_data["Sex"] == "M"]
femaleData = athlete_data[athlete_data["Sex"] == "F"]

yearTeamGroupM = maleData.groupby(["Year", "Team"])
yearTeamGroupF = femaleData.groupby(["Year", "Team"])

groupAvgM = yearTeamGroupM[["Age", "Height", "Weight"]].mean()
groupAvgF = yearTeamGroupF[["Age", "Height", "Weight"]].mean()

groupAvgM = groupAvgM.reset_index()
groupAvgF = groupAvgF.reset_index()

athlete_avg = groupAvgM.merge(groupAvgF, on=["Year", "Team"],
                             how="outer", suffixes=("_M", "_F"))

con = sqlite3.connect("db/olympic_data.db")
athlete_avg.to_sql("athlete_avg_team", con, if_exists="replace", index=False)

con.commit()

# this section is BY NOC

yearTeamGroupM = maleData.groupby(["Year", "NOC"])
yearTeamGroupF = femaleData.groupby(["Year", "NOC"])

groupAvgM = yearTeamGroupM[["Age", "Height", "Weight"]].mean()
groupAvgF = yearTeamGroupF[["Age", "Height", "Weight"]].mean()

groupAvgM = groupAvgM.reset_index()
groupAvgF = groupAvgF.reset_index()

athlete_avg = groupAvgM.merge(groupAvgF, on=["Year", "NOC"],
                             how="outer", suffixes=("_M", "_F"))

con = sqlite3.connect("db/olympic_data.db")
athlete_avg.to_sql("athlete_avg_noc", con, if_exists="replace", index=False)

con.commit()
con.close()

In [6]:
# creating Male and female age dataframes
# uploading as seperate tables to the database
# this is to be used for the box plots

yearAge = athlete_data[["Name","Sex", "Age", "Year"]]
yearAge = yearAge.drop_duplicates(subset=["Name", "Year"])

yearAge = yearAge[["Sex", "Age", "Year"]]

yearAge = yearAge.dropna(subset=["Age"])

yearAgeM = yearAge[yearAge["Sex"] == "M"]
yearAgeF = yearAge[yearAge["Sex"] == "F"]

yearAgeM = yearAgeM.sort_values(by="Year").reset_index(drop=True)
yearAgeF = yearAgeF.sort_values(by="Year").reset_index(drop=True)

con = sqlite3.connect("db/olympic_data.db")

yearAgeM.to_sql("yearAgeM", con, if_exists="replace", index=False)
yearAgeF.to_sql("yearAgeF", con, if_exists="replace", index=False)

con.commit()
con.close()

In [2]:
# query male dataframe from db
#jsonify items to be returned to front end for box plot

con = sqlite3.connect("db/olympic_data.db")

sql = f"""
    SELECT * FROM yearAgeM
    """
yearAvgM = pd.read_sql(sql, con)


query_dict = defaultdict(list)

for index, row in yearAvgM.iterrows():
    query_dict[row["Year"]].append(row["Age"])
    
clean_dict = dict(query_dict)

clean_list = [{k:v} for k, v in clean_dict.items()]

In [7]:
con = sqlite3.connect("db/olympic_data.db")

sql = f"""
    SELECT * FROM yearAgeM
    """
yearAvgM = pd.read_sql(sql, con)
yearAvgM

       Sex   Age  Year
0        M  20.0  1896
1        M  21.0  1896
2        M  25.0  1896
3        M  21.0  1896
4        M  23.0  1896
5        M  21.0  1896
6        M  22.0  1896
7        M  23.0  1896
8        M  25.0  1896
9        M  26.0  1896
10       M  18.0  1896
11       M  22.0  1896
12       M  18.0  1896
13       M  17.0  1896
14       M  20.0  1896
15       M  19.0  1896
16       M  21.0  1896
17       M  21.0  1896
18       M  24.0  1896
19       M  20.0  1896
20       M  20.0  1896
21       M  24.0  1896
22       M  23.0  1896
23       M  19.0  1896
24       M  26.0  1896
25       M  30.0  1896
26       M  17.0  1896
27       M  34.0  1896
28       M  24.0  1896
29       M  28.0  1896
...     ..   ...   ...
132011   M  25.0  2016
132012   M  25.0  2016
132013   M  25.0  2016
132014   M  26.0  2016
132015   M  25.0  2016
132016   M  23.0  2016
132017   M  33.0  2016
132018   M  30.0  2016
132019   M  29.0  2016
132020   M  22.0  2016
132021   M  21.0  2016
132022   M  23.0  2016
132023   M  26.0  2016
132024   M  20.0  2016
132025   M  22.0  2016
132026   M  32.0  2016
132027   M  20.0  2016
132028   M  28.0  2016
132029   M  28.0  2016
132030   M  23.0  2016
132031   M  27.0  2016
132032   M  30.0  2016
132033   M  24.0  2016
132034   M  36.0  2016
132035   M  23.0  2016
132036   M  21.0  2016
132037   M  27.0  2016
132038   M  25.0  2016
132039   M  22.0  2016
132040   M  31.0  2016

[132041 rows x 3 columns]